Django==1.7.7
MySQL-python==1.2.3
argparse==1.2.1
django-phonenumber-field==0.7.2
django-twilio==0.8.0
fuzzywuzzy==0.5.0
gunicorn==19.0.0
httplib2==0.9
nltk==3.0.2
numpy==1.9.2
paramiko==1.10.1
phonenumbers==7.0.4
psycopg2==2.6
pycrypto==2.6.1
pytz==2015.2
six==1.9.0
twilio==3.7.3
wsgiref==0.1.2
